
* {
  margin: 0;
  padding: 0;
}

/* #2C2C64 Blue */
/* #79DEF2 Light blue */
/* #4A4A4A Grey */
/* #ECEAEA Light grey */
/* #FCFCFC off-white */

.navbar {
  background-color: #fcfcfc;
  height: 12vh;
  width: 100%;
  display: block;
  border-bottom: solid red 0.5px;
}

.sideview {
  background-color: #fcfcfc;
  height: 88vh;
  width: 20%;
  display: inline-block;
}

.body-wrapper {
  background-color: #f7f2f2;
  height: 100%;
  width: 80%;
  float: right;
  height: 88vh;
  text-align: center;
}

.card-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* @keyframes App-logo-spin { */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }



  */
